<%= form_with(model: profile, local: true, html: { multipart: true }) do |form| %>
  <% if profile.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
        <% profile.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, @users, :id, :username, prompt: "Select a User", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :bio %>
    <%= form.text_area :bio, class: "form-control" %> <!-- Bio input -->
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: "form-control" %> <!-- Location input -->
  </div>

  <div class="form-group">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, class: "form-control-file" %> <!-- Use file_field for avatar upload -->
  </div>

  <div>
    <%= form.submit "Update Profile", class: "btn btn-primary" %> <!-- Button to submit the form -->
  </div>
<% end %>