<div id="<%= dom_id profile %>">
  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= profile.bio %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= profile.location %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= profile.avatar %>
  </p>

</div>
