<p style="color: green"><%= notice %></p>

<h1>Profiles</h1>

<%= link_to "New profile", new_profile_path, class: "btn btn-primary mb-3" %>

<% if @profiles.empty? %>
  <p>No profiles found.</p>
<% else %>
  <div id="profiles">
    <% @profiles.each do |profile| %>
      <div class="profile">
        <%= render profile %>
        <p>
          <%= link_to "Show this profile", profile, class: "btn btn-info" %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>

<%= form_with url: profiles_path, method: :get, local: true do %>
  <%= label_tag :per_page, "Profiles per page:" %>
  <%= select_tag :per_page, options_for_select([5, 10, 20, 50], params[:per_page]), onchange: 'this.form.submit();' %>
  <%= hidden_field_tag :page, params[:page] %>
<% end %>

<div class="pagination">
  <% if @profiles.prev_page %>
    <%= link_to 'Previous', profiles_path(page: @profiles.prev_page, per_page: params[:per_page]), class: 'btn btn-secondary' %>
  <% end %>

  <span>Page <%= @profiles.current_page %> of <%= @profiles.total_pages %></span>

  <% if @profiles.next_page %>
    <%= link_to 'Next', profiles_path(page: @profiles.next_page, per_page: params[:per_page]), class: 'btn btn-secondary' %>
  <% end %>
</div>