<div id="<%= dom_id access_log %>">
  <p>
    <strong>User:</strong>
    <%= access_log.user_id %>
  </p>

  <p>
    <strong>Access point:</strong>
    <%= access_log.access_point_id %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= access_log.timestamp %>
  </p>

  <p>
    <strong>Successful:</strong>
    <%= access_log.successful %>
  </p>

</div>
