<%= form_with(model: access_log) do |form| %>
  <% if access_log.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(access_log.errors.count, "error") %> prohibited this access log from being saved:</h2>
      <ul>
        <% access_log.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :user_id, class: 'form-label' %>
    <%= form.collection_select :user_id, User.all, :id, :username, { prompt: "Select a user" }, class: 'form-select' %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :access_point_id, class: 'form-label' %>
    <%= form.collection_select :access_point_id, AccessPoint.all, :id, :location, { prompt: "Select an access point" }, class: 'form-select' %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :timestamp, class: 'form-label' %>
    <%= form.datetime_field :timestamp, class: 'form-control', placeholder: "YYYY-MM-DD HH:MM:SS" %>
  </div>

  <div class="form-group mb-3 form-check">
    <%= form.check_box :successful, class: 'form-check-input' %>
    <%= form.label :successful, 'Successful?', class: 'form-check-label' %>
  </div>

  <div>
    <%= form.submit "Save Access Log", class: 'btn btn-primary' %>
  </div>
<% end %>