<div class="text-success"><%= notice %></div>

<h1>Access Logs</h1>

<%= link_to 'New Access Log', new_access_log_path, class: 'btn btn-primary mb-3' %>

<div class="row mb-3 gx-2">
  <%= form_with(url: access_logs_path, method: :get, local: true, class: "row") do |form| %>
    <!-- Dropdown for Username -->
    <div class="col-auto">
      <%= label_tag :username, "Select Username", class: "form-label" %>
      <%= select_tag :username, options_from_collection_for_select(User.all, 'username', 'username', params[:username]), include_blank: "All", class: "form-select", onchange: 'this.form.submit();' %>
    </div>

    <!-- Dropdown for Address -->
    <div class="col-auto">
      <%= label_tag :address, "Select Address", class: "form-label" %>
      <%= select_tag :address, options_from_collection_for_select(AccessPoint.all, 'location', 'location', params[:address]), include_blank: "All", class: "form-select", onchange: 'this.form.submit();' %>
    </div>

    <!-- Dropdown for Success Status -->
    <div class="col-auto">
      <%= label_tag :success, "Success", class: "form-label" %>
      <%= select_tag :success, options_for_select([['All', ''], ['Yes', 'true'], ['No', 'false']], params[:success]), class: "form-select", onchange: 'this.form.submit();' %>
    </div>

    <!-- Date Dropdown -->
    <div class="col-auto">
      <%= label_tag :date, "Select Date", class: "form-label" %>
      <%= select_tag :date, options_for_select(AccessLog.pluck(:timestamp).map { |t| [t.to_date, t.to_date] }.uniq, params[:date]), include_blank: "All", class: "form-select", onchange: 'this.form.submit();' %>
    </div>

    <!-- Records per Page Dropdown -->
    <div class="col-auto">
      <%= form.label :per_page, "Records per page:", class: "form-label" %>
      <%= form.select :per_page, [10, 20, 30], { selected: params[:per_page] || 10 }, { class: "form-select", onchange: 'submitPerPageForm(this.form);' } %>
    </div>
  <% end %>
</div>

<% if @access_logs.any? %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>User ID</th>
      <th>Access Point ID</th>
      <th>Timestamp</th>
      <th>Successful</th>
      <th colspan="3">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @access_logs.each do |access_log| %>
      <tr>
        <td><%= access_log.user.username %></td>
        <td><%= access_log.access_point.location %></td>
        <td><%= access_log.timestamp %></td>
        <td><%= access_log.successful ? 'Yes' : 'No' %></td>
        <td><%= link_to 'Show', access_log_path(access_log), class: 'btn btn-info btn-sm' %></td>
        <td><%= link_to 'Edit', edit_access_log_path(access_log), class: 'btn btn-warning btn-sm' %></td>
        <td><%= button_to 'Destroy', access_log, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <!-- Pagination, including all filter parameters -->
  <%= paginate @access_logs, params: { per_page: params[:per_page], username: params[:username], address: params[:address], success: params[:success], date: params[:date] } %>
<% else %>
  <p>No access logs found.</p>
<% end %>

<script>
    function submitPerPageForm(form) {
        form.submit();
    }
</script>