<p style="color: green"><%= notice %></p>

<%= render @access_log %>

<div class="mt-3">
  <%= link_to "Edit this Access Log", edit_access_log_path(@access_log), class: 'btn btn-warning' %>
  <%= link_to "Back to Access Logs", access_logs_path, class: 'btn btn-secondary' %>

  <%= button_to "Destroy this Access Log", @access_log, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
</div>