<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :username, class: "form-label" %>
    <%= form.text_field :username, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control" %>
    <small class="form-text text-muted">Leave blank if you do not want to change the password.</small>
  </div>

  <div class="mb-3">
    <%= form.label :full_name, class: "form-label" %>
    <%= form.text_field :full_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control" %>
  </div>

  <!-- Dropdown for Role -->
  <div class="mb-3">
    <%= form.label :role, class: "form-label" %>
    <%= form.select :role, options_for_select(['Admin', 'Editor', 'Viewer', 'Shipping Agent', 'Logistics Manager'], user.role), {}, class: "form-control" %>
  </div>

  <!-- Dropdown for Access Level -->
  <div class="mb-3">
    <%= form.label :access_level, class: "form-label" %>
    <%= form.select :access_level, options_for_select(['High', 'Medium', 'Low'], user.access_level), {}, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :last_login, class: "form-label" %>
    <%= form.datetime_field :last_login, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label" %>
    <%= form.check_box :status %>
    <%= form.label :status, "Active?" %>
  </div>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>