<div id="<%= dom_id elevated_access_request %>">
  <p>
    <strong>User:</strong>
    <%= elevated_access_request.user_id %>
  </p>

  <p>
    <strong>Access point:</strong>
    <%= elevated_access_request.access_point_id %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= elevated_access_request.reason %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= elevated_access_request.status %>
  </p>

</div>
