<%= form_with(model: elevated_access_request, local: true) do |form| %>
  <% if elevated_access_request.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(elevated_access_request.errors.count, "error") %> prohibited this elevated access request from being saved:</h2>
      <ul>
        <% elevated_access_request.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :user_id, class: "form-label" %>
    <%= form.select :user_id, User.all.collect { |user| [user.full_name, user.id] }, { include_blank: "Select User" }, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :access_point_id, class: "form-label" %>
    <%= form.select :access_point_id, AccessPoint.all.collect { |point| [point.location, point.id] }, { include_blank: "Select Access Point" }, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :reason, class: "form-label" %>
    <%= form.text_area :reason, class: "form-control", rows: 3, placeholder: "Enter reason for the access request" %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label" %>
    <%= form.select :status, [['Pending', 'pending'], ['Approved', 'approved'], ['Denied', 'denied']], { include_blank: "Select Status" }, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Update Request", class: "btn btn-primary" %>
  </div>
<% end %>