<div id="<%= dom_id access_point %>">
  <p>
    <strong>Location:</strong>
    <%= access_point.location %>
  </p>

  <p>
    <strong>Access level:</strong>
    <%= access_point.access_level %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= access_point.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= access_point.status %>
  </p>

</div>
