<div id="<%= dom_id(access_point) %>">
  <p>
    <strong>Location:</strong>
    <%= access_point.location %>
  </p>

  <p>
    <strong>Access level:</strong>
    <%= access_point.access_level %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= access_point.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= access_point.status %>
  </p>

  <%= link_to 'Edit', edit_access_point_path(access_point), class: 'btn btn-primary' %>
  <%= link_to 'Delete', access_point_path(access_point), method: :delete, data: { confirm: 'Are you sure you want to delete this access point?' }, class: 'btn btn-danger' %>
</div>